<div class="row">
  <div class="form-group col-sm-4">
      <label for="exampleSelect1"># of Phrases</label>
      <select class="form-control" id="exampleSelect1">
        <option *ngFor="let i of numberList">{{i}}</option>
      </select>
    </div>
</div>

<div class="row">
  <div class="col-lg-12 col-sm-12 col-12">

    <ba-card baCardClass="banner-column-panel">
      <div class="banner">
        <div class="large-banner-wrapper">
          <!-- <img src="{{ ( 'app/typography/banner.png' | baAppPicture ) }}" alt="" /> -->
          <img src="https://source.unsplash.com/random/1600x900?sig=8989" alt="" />
        </div>
        <div class="banner-text-wrapper">
          <div class="banner-text">
            <h1>Hello world!</h1>

            <p>Some Englsh Idioms, movie lines, or anything else</p>

            <p>How about adding one of yours?</p>
          </div>
        </div>
      </div>
      <div class="section">
        <h2>Columns</h2>

        <div class="row">
          <div class="col-sm-6" *ngFor="let item of engphrases; let i=index">
            <!-- <div class="img-wrapper"><img src="{{ ( 'app/typography/typo03.png' | baAppPicture ) }}" alt="" title="" />
            </div> -->
            <!-- kevin 08/26/2017, server will ignore sig param, but it represents a unique img url. -->
            <div class="img-wrapper"><img src="https://source.unsplash.com/random/600x400?sig={{i}}" alt="" title="" />
            </div>
            <h4> {{ item.speaker }} : {{ item.phrase}} </h4>
            <p> {{ item.desc }} </p>
          </div>
          <!-- <div class="col-sm-6">
            <div class="img-wrapper"><img src="{{ ( 'app/typography/typo01.png' | baAppPicture ) }}" alt="" title="" />
            </div>
            <p>Et suspendisse, adipiscing fringilla ornare sit ligula sed, vel nam. Interdum et justo nulla, fermentum lobortis
              purus ut eu, duis nibh dolor massa tristique elementum, nibh iste potenti risus fusce aliquet fusce, ullamcorper
              debitis primis arcu tellus vestibulum ac.</p>
          </div> -->
        </div>

        <div class="separator"></div>
      </div>
    </ba-card>
  </div>
</div>
