<table style="height: 59px;" width="100%">
<tbody>
<tr><td></td></tr>
<tr>
<td style="font-size: 140%;padding:0px; color:#5AA951;">
<hr>
{{ golfclub.name }}
<hr>
</td>
</tr>
<tr>
<td colspan="5" >
<table style="height: 97px;" width="100%">
<tbody style="font-size: 90%; color:#666;padding:0px; color:#696969;">
<tr>
<td>주소</td>
<td>{{ golfclub.address }}</td>
</tr>
<tr>
<td>전화번호</td>
<td>02-359-0123</td>
</tr>
<tr>
<td>분류</td>
<td>골프장 &gt; {{ golfclub.area }}</td>
</tr>
<tr>
<td>홈페이지</td>
<td><a href="http://www.123golfclub.co.kr/sub03/sub01.php?menu_num=1">http://www.123golfclub.co.kr</a></td>
</tr>
<tr>
<td>설명</td>
<td>{{ golfclub.desc }}</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td colspan="5">
<hr>
<table style="height: 21px;" width="100%" border="1" >
<tbody style="font-size: 90%; color:#666; color:#696969; ">
<tr>
<td style="padding:5px; width:20%; text-align:center;">카트비</td>
<td style="padding:5px; width:30%">{{ golfclub.fee_cart }}원</td>
<td style="padding:5px; width:20%; text-align:center;">캐디비</td>
<td style="padding:5px; width:30%">{{ golfclub.fee_caddy }}원</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td colspan="5">
<hr>
<table style="height: 59px;" width="100%">
<tbody style="font-size: 90%; color:#666;padding:0px; color:#696969;">
<tr>
<td>◎ 6월 할인 그린피</td>
</tr>
<tr>
<td>

<table style="height: 21px;" width="100%" border="1">
<tbody style="font-size: 90%; color:#666;padding:0px; color:#696969;">
<tr>
<td style="padding:8px; width:20%; text-align:center;">1만원 할인 안내</td>
<td style="padding:8px; width:80%">1. 30만원 위약 예치금 입금회원 (주중,주말)<br>2. 여성 : 월요일 전시간 , 금요일 1부 시간<br>3.시니어:화요일 전시간 (만 60세 이상 신분증 지참)</td>
</tr>
</tbody>
</table>

<hr>


</td>
</tr>
<tr>
<td>
	
	
	
<table style="height: 59px;" width="100%" border="1" style="background-color: #f5f5f5; padding:0px; font-size: 80%;" >
<tbody>
<tr>
<td style="text-align: center;" rowspan="2">구분</td>
<td style="text-align: center;" rowspan="2">요일</td>
<td style="text-align: center;" colspan="2" rowspan="2">시간</td>
<td style="text-align: center;" colspan="2">회원구분</td>
</tr>
<tr>
<td style="text-align: center;">인터넷회원</td>
<td style="text-align: center;">일반회원</td>
</tr>
<tr>
<td style="text-align: center;" colspan="6">
<!----------------start----------->
<table style="height: 59px;" width="100%" border="1" >
<tbody>
<tr>
<td style="text-align: center;">&nbsp;평일</td>
<td style="text-align: center;" colspan="5">
<table style="height: 59px;" width="100%">
<tbody>
<tr>
<td style="text-align: center;">&nbsp;6월 12일(월)</td>
<td style="text-align: center;" colspan="4">
<table style="height: 59px;" width="100%" border="1">
<tbody>
<tr>
<td style="text-align: center;" colspan="2">1부</td>
<td style="text-align: center;" colspan="3">
<table style="height: 59px;" width="100%" border="1">
<tbody>
<tr>
<td style="text-align: center;">&nbsp;06:30~07:29</td>
<td style="text-align: center;">&nbsp;7.5만원</td>
<td style="text-align: center;">&nbsp;8.5만원</td>
</tr>
<tr>
<td style="text-align: center;">&nbsp;07:30~07:59</td>
<td style="text-align: center;">&nbsp;8만원</td>
<td style="text-align: center;">&nbsp;9만원</td>
</tr>

</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<!--------------------------------->
</td>
</tr>
</tbody>
</table>


	
	
	
	
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>


